{% extends "home/header.html" %}
{% load staticfiles %}


{% block content %}

	
	<h2>Brightness Control with Live Data Graph</h2>
	<p>This was the final project for my Applied Software class in 2018. It involved LEDs that adjusted themselves based on the brightness of the environment. In darkness, the LEDs will brighten, and in light, the LEDs will dim.</p>

	<div class="container row text-center px-4">
		<div class="col-lg-4">
			<img class="card-rounded" src="{% static 'home/img/ledbright1.png' %}" style="width:125px; height:300px;"> 
			<p>Dim<br>(Flashlight on the right)</p>
		</div>
		<div class="col-lg-4">
			<img class="card-rounded" src="{% static 'home/img/ledbright2.png' %}" style="width:125px; height:300px;">
			<p>Bright<br>No brightness detected on photoresistor</p> 
		</div>
		
	</div>
	
{% endblock %}


