<!DOCTYPE HTML>
  <html lang="en">
    <head>
    	<title>{% block title %}{% endblock %}</title>
    	<meta charset="utf-8">
    	{% load staticfiles %}
    	<link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}" type="text/css"/>
      <link rel="stylesheet" href="{% static 'home/css/social-buttons.css' %}" type="text/css"/>
    </head>
    <body class="body" style="background-color: #3f577f;">
       <header>
          <!-- navbar -->
          <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <div>
              <div class="container d-flex navbar-left">
                <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center" style="color:green">
                   <font size="2"><b>W. McGuire</b></font>
                </a>         
              </div>
              <div class="container navbar-right">
   
              </div>
            </div>
            <div class="navbar-nav ml-auto">
              <ul class="navbar-nav px-2">
                <li class="nav-item active px-2"><a href="{% url 'index' %}" style="color:#d6d81e;">Home</a></li>
                <li class="nav-item px-2"><a href="{% url 'about' %}" style="color:#d6d81e;">Portfolio</a></li>
              </ul>  
            </div> 
          </nav>            
        </header>
        <div class="jumbotron container text-center" style="background-color:#f7f4f4">
          {% block content %}
          {% endblock %}
        </div>
        <footer class="footer">
          <nav class="navbar bg-primary">&copy Copyright 2019 William McGuire.</nav>
        </footer>
    </body>
  </html>